* {
margin: 0;
padding: 0;
box-sizing: border-box; /* Box model */
}

/*Global styles  */
body{
     font-family: "Merriweather",sans-serif;
     background-color: #ebf2ff;
     overflow-x: hidden;
}
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;    
    cursor: pointer;
}
.container { /* for mobile*/
    width: 100%;
    margin: 0 auto; /* top-bottom left -right*/
    padding: 0 15px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar__brand {
    width: 100px;
}
.navbar__logo {
    width: 100%;
}
.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
}
.hero__text{
    font-size: 30px;
   color: #1d3557;
    margin: 20px 0;
}
/*Menu Styles*/
.explore__menu__container{
    margin-top: 50px;
}
.explore__menu__text{
    font-size: 30px;
    color: #1d3557;
     margin: 20px 0;
     text-align: center;
}
.food__menu__card{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px; /* for gap between menu cards*/
}
.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;   /*top,right,bottom,left*/
}
.food__menu__card__description{
    padding: 20px;
}
.explore__menu__view__more{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px){    /* for mobile*/
    .navbar {
        justify-content: space-between;
        padding: 10px 20px;   /*(10px->top-bottom)(20px->right-left ) */
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary{
        padding: 12px 20px;
        font-size: 20px;
    }
    
    .hero__container {
        display: flex; /* for text and image side to side*/
        flex-direction: row-reverse; /*for text to left and image right */
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    
}
@media (min-width: 1020px){ /*for tab*/ 
    .container{
        max-width: 900px;
    }
    .hero__text{
        font-size: 50px;
    }
}  
@media (min-width: 1400px){ /* for pc */
        .container{
            max-width: 1250px;
        }
}